#home
{
    position: relative;
    display: flex;
    overflow: hidden;

    min-height: 100vh;

    justify-content: center;
    align-items: center;
    
    @include noise;
}

.home
{
    z-index: 1;
    display: flex;
    flex-direction: column;

    width: 100%;

    align-items: flex-end;

    &__column
    {
        max-width: 690px;
    }

    &__background
    {
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;

        width: 100%;
        height: 100%;
        background: url('../../dist/images/background/home/forest.webm') center / cover no-repeat;
        background: $Black url('../../dist/images/background/home/foresst.webp') center / cover no-repeat;

        filter: brightness(40%);
    }

    &__video
    {
        position: absolute;
        top: 50%;
        left: 50%;

        min-width: 100%;
        min-height: 100%;

        transform: translate(-50%, -50%);

        object-fit: cover;
    }

    &__title
    {
        @include adaptive(2.5, 4);
        font-weight: 900;
        margin-bottom: .625rem;
        text-transform: uppercase;

        color: $White;
    }

    &__subtitle
    {
        margin-bottom: 1.25rem;

        color: $Grey;
    }

    &__button a
    {
        @include button;
    }

    &__button i
    {
        font-size: .9rem;
        align-self: flex-end;
        margin-right: .5rem;
    }
}

@media (max-width: 768px)
{
    .home__column
    {
        max-width: 100%;
    }
}