@import 'variables.scss';
@import 'mixins.scss';

html
{
    font-size: 1em;
}

body
{
    font-family: $OpenSans;
    font-size: 1rem;
    line-height: 1;

    scroll-behavior: smooth;
}

body.lock
{
    overflow: hidden;
}

.hide {
    display: none;
}

*,
*:before,
*:after
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img
{
    display: block;

    max-width: 100%;
}

a
{
    text-decoration: none;

    &:hover
    {
        text-decoration: underline;
    }
}

p
{
    line-height: 1.25;

    color: inherit !important;
    color: $White;
}

ul,
li
{
    list-style: none;
}

input,
button,
textarea,
select,
a
{
    font: inherit;

    outline: none;
}

section
{
    min-height: 50vh;
    padding: 10rem 0;
}

@media (max-width: 768px)
{
    section
    {
        padding: 5rem 0;
    }
}

.container
{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 1.25rem;
}

@import 'header.scss';
@import 'home.scss';
@import 'post.scss';